@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import 'tailwindcss';

html,
.font-sans {
    font-family: 'Inter', sans-serif;
}

.font-heading {
    font-family: 'Poppins', sans-serif;
}

.font-mono {
    font-family: 'JetBrains Mono', monospace;
}
